@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
body {
    background-color: #54c3ef;
    margin: 0;
}
#main-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    
}
#main-section {
    background-color: #2b3252;
    width: 550px;
    border-radius: 20px;
    padding-bottom: 20px;
}

.heading {
    font-family: 'Caveat Brush', cursive;
    text-align: center;
    font-size: 65px;
    color:  #fad744;
    text-shadow: 0px 3px 0px black;
    margin-top: 5px;
}
.question {
    color:  #fad744;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 25px;
}

.option {
    color: white;
    margin-left: 22px;
    margin-bottom: 10px;
    cursor: pointer;

}
.select-option {
    color: #fad744;
    cursor: pointer;
    margin-left: 5px;
}
.hr-section {
   width: 100%;
   background-color: cadetblue;
   display: block;
}
.question {
    margin: 0;
}
.submit-btn {
    background-color:#fad744;
    display: block;
    color: black;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 5px;
    padding-top:5px;
    border-width: 0px;
    border-radius: 5px;
    margin: auto;
    margin-top: 15px;
    text-transform: uppercase;
    box-shadow: 0px 0px 5px #fad744;
    cursor: pointer;
}
.hrline {
    width: 100%;
    height: 2px;
    background-color: #fad744;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.answer-section {
    width: 200px;
    background-color: white;
    height: 20%;
    margin-left: 30px;
    padding-left: 30px;
    border-radius: 30px;
    display: flex;    
    align-items: center;
    font-size: 30px;
    position: fixed;
    top:10;
    left: 68%;
}
.score-main {
    display: flex;
}
.hr-line {
    background-color:  #fad744;
    border: 1px solid #fad744;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 30px;
}